body
{
    background-color: #34bdeb;
}

#navigation
{
    position: fixed;
    height: auto;
    width: 100%;
    border: black solid 2px;
    float: left;
}

#title
{
    height: 200px;
    width: 715px;
    float: left;
    background-image: url(logo.png);
    background-size: 100% 100%;
}

#home
{
    height: 200px;
    width:30%;
    float: left;
}

#home 
{
    border: black 5px dotted;
    border-radius: 50px;
    font-size: 100px;
    color: blue;
    background-color: #34bdeb;
    font-family: 'Times New Roman';
    text-align: center;
}

#home:hover
{
    color: #34bdeb;
    background-color: aqua;
}

#home a:visited
{
    color:blue;
}

#home a:hover
{
    color: darkblue;
}

#desc
{
    position: relative;
    height: 100px;
    width: 100%;
    border: black solid 2px;
    float: left;
}


#desc h1
{
    text-align: center;
    font-size: 50px; 
    font-family: 'Times New Roman'; 
    color: black;
}








#headlines
{
    position: absolute;
    top: 400px;
    left: 50px;
    height: 750px;
    width: 1800px;
    border: black solid 2px;
    animation-name: headline-change;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes headline-change
{
    0%{background-image: url(euros.png);}
    12.5%{background-image: url(euros.png);}
    25%{background-image: url(sadiq.png);}
    37.5%{background-image: url(g7.png);}
    50%{background-image: url(tokyo.png);}
    62.5%{background-image: url(travel.png);}
    75%{background-image: url(vaccine.png);}
    87.5%{background-image: url(tesla.png);}
    100%{background-image: url(interview.png);}
}
